*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000;
    --gray: #d0d0d3;
    --blue-strong: #0061ff;
    --azure: #b4d0e7;
    --green_img: #a2d39b;
    --blue_img: #0093ce;
    --brown_img: #61082b;
    --red_img: #ff1c1c;
    --gray_img: #f5f5f5;
    --red2_img: #d5001f;
    --blue_img2: #0d2481;
    --blue3_img: #b4d0e7;
    --yellow_img: #ffd830;
}
.bg-black{background-color: var(--black);}
.bg-img-green{background-color: var(--green_img);}
.bg-img-blue{background-color: var(--blue_img);}
.bg-img-brown{background-color: var(--brown_img);}
.bg-img-red{background-color: var(--red_img);}
.bg-img-gray{background-color: var(--gray_img);}
.bg-img-red2{background-color: var(--red2_img);}
.bg-img-blue2{background-color: var(--blue_img2);}
.bg-img-azure{background-color: var(--blue3_img);}
.bg-img-yellow{background-color: var(--yellow_img);}

/* #debug *{
    border: 1px dashed black;
} */

body{
    font-family: "Noto Sans","Roboto", Arial, Helvetica, sans-serif;
    min-width: 1440px;
}

img{max-width: 100%;}

.min-h-300{min-height: 300px;background-color: #ff1c1c;}


.position-relative{position: relative;}
.position-absolute{position: absolute;}
.right{right:0;}
.right-1_5{right: 1.5rem;}

.font-size{font-size: 11.5px;}

.border-light{border: 1px solid var(--gray_img)}

.h-100{height: 100%;}

.display-inline{display: inline-block;}
.d-flex{display: flex;}
.flex-align-center{align-items: center;}
.flex-justify-center{justify-content: center;}
.flex-center-center{
    align-items: center;
    justify-content: center;
}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-justify-start{justify-content: start;}
.flex-justify-end{justify-content: end;}
.flex-justify-between{justify-content: space-between;}
.flex-justify-around{justify-content: space-around;}
.flex-wrap{flex-wrap: wrap;}

.bg-azure{background-color: var(--azure);}
.bg-black{background-color: var(--black);}
.color-blue{color: var(--blue-strong);}
.c-white{color: white}
.c-brown{color: #61082b;}

.col-1{width: calc((100%/12)*1);}
.col-2{width: calc((100%/12)*2);}
.col-3{width: calc((100%/12)*3);}
.col-4{width: calc((100%/12)*4);}
.col-5{width: calc((100%/12)*5);}
.col-6{width: calc((100%/12)*6);}
.col-7{width: calc((100%/12)*7);}
.col-8{width: calc((100%/12)*8);}
.col-9{width: calc((100%/12)*9);}
.col-10{width: calc((100%/12)*10);}
.col-11{width: calc((100%/12)*11);}
.col-12{width: calc((100%/12)*12);}

.w-100{width: 100%;}
.w-80{width: 80%;}
.w-70{width: 70%;}
.w-60{width: 60%;}
.w-50{width: 50%}
.w-40{width: 40%;}
.w-20{width: 20%;}

.gap-02rem{gap: 0.2rem;}
.gap-04rem{gap: 0.4rem;}
.gap-07{gap: 0.7rem;}
.gap-1rem{gap: 1rem;}
.gap-1_4{gap: 1.4rem;}
.gap-2rem{gap: 2rem;}
.gap-3rem{gap: 3rem;}

.margin-top-2rem{margin-top: 2rem;}
.margin-top-3rem{margin-top: 3rem;}
.margin-top-4rem{margin-top: 4rem;}
.m-t-5{margin-top: 5rem;}
.margin-top-6rem{margin-top: 6rem;}
.m-t-7{margin-top: 7rem;}
.margin-test{margin: 0 -1rem;}
.m-b-1{margin-bottom: 1rem;}
.m-b-1_8{margin-bottom: 1.8rem;}
.margin-bottom-3rem{margin-bottom: 3rem;}
.m-b-6{margin-bottom: 6rem;}
.m--1lr{ margin: 0rem -1.4rem;}

.py-09ud-08lr{
    padding: 0.9rem 0.8rem;
}
.py-3{padding: 3rem;}
.padding-main-intro{ padding: 5% 20% 0% 20%;}
.padding-main{padding: 0% 15% 0 15%;}
.py-06-ud{padding: 0.6rem 0rem;}
.py-tb-1_7{padding: 1.7rem 0;}
.py-tb-3{padding: 3rem 0rem;}
.py-l-1_5{padding: 0 0 0 1.5rem;}

.py-tb-1{padding: 1rem 0rem 1rem 0rem;}
.py-t-1{padding: 1rem 0 0 0;}
.py-lr-1rem{padding: 0rem 1rem;}
.py-b-2{padding: 0 0 2rem 0;}
.py-b-1{padding: 0 0 1rem 0;}
.py-b-3{padding: 0 0 3rem 0;}

.border-1-blue{border: 1px solid var(--blue-strong);}
.border-1-gray{border: 2px solid var(--gray);}

.button{
    background-color: var(--blue-strong);
    color: var(--white);
    border: none;  /* //TOGLIE UN BORDO GRIGIO CHE NON RICORDO DA COSA DERIVA!! */
    border-radius: 0rem;
    padding: 0.5rem 1rem;
}
.button:hover{opacity: 0.7;}
.button2{
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 0.5rem 1rem;
}
.button3{
    color: var(--black);
    background-color: var(--white);
    padding: 0.5rem 1rem;
}
.unstyle-list{list-style-type: none;}

#app_main{
    
    .h1_intro{
        font-size: 4rem;
        line-height: 5.2rem;
    }
    .img_intro_width{width: 69%;}
    .img_intro_float{
        float: right;
        margin: 0rem -0.0rem -4rem 0rem;
    }
    .arrow_intro{font-size: 3rem;}
    /* //finish intro */
    #your_plan *{
        font-size: 11.5px; 
        .h1_card{color: var(--blue-strong); font-size: 1.04rem;}
        .list_cards{list-style-type: none;}
        hr{background-color: var(--blue-strong);}

    }
    .radiobutton{border:2px solid var(--blue-strong)}
    input[type="radio"].radiobutton{
        appearance: none;
        width: 1rem;
        height: 1rem;
        border: 0.28rem solid var(--blue-strong);
        border-radius: 50%;
        background-color: var(--white);
    }
    .h1_big{font-size: 1.90rem;}
    /* [class^="col-"]{min-height: 300px; } */
    .py_card_2sect{padding: 13% 11%;}  
    .hr_little{width: 20%;}
    /* //finish cards */
    .partner_dropbox{
        padding: 1.7rem 1.2rem;
    }
    .row_operations{margin: 0 -1rem;}
    .card_operations{ padding: 1rem 1rem; }
    .cube{aspect-ratio:1/1;}
    .cube img{width: 60% ;filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg);}
    .cube_img_center{width: 50%;}
    /* //finish cards universities */
    .dropbox_in_business{gap: 7rem;}
    .arrow_FAQ{font-size: 1.1rem;}
    /* //finish main */
}
#app_footer{
    .footer_list{padding: 4rem 0rem;}
    .little_footer{justify-self: flex-start}
    .hr_little_footer{width: 9%; background-color: var(--white);}
}
